<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentZone"
        tools:targetApi="31">
        <activity
            android:name=".Doctor_Classes.Doctor_Activities.DoctorSubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".Doctor_Classes.Doctor_Activities.DoctorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Doctor_Classes.Doctor_Activities.DoctorSubjectPdfsActivity"
            android:exported="false" />
        <activity
            android:name=".Student_Classes.Student_Activities.StudentSubjectPdfsActivity"
            android:exported="false" />
        <activity
            android:name=".Student_Classes.Student_Activities.StudentSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".Student_Classes.Student_Activities.StudentRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Student_Classes.Student_Activities.StudentPassedSubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".Student_Classes.Student_Activities.StudentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Classes.Admin_Activities.AdminStudentsAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Classes.Admin_Activities.AdminDoctorsAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Classes.Admin_Activities.AdminAbsenceFilesActivity"
            android:exported="false" />
        <activity

            android:name=".Admin_Classes.Admin_Activities.AdminSubjectsActivity"
            android:exported="false" >

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity

            android:name=".Admin_Classes.Admin_Activities.AdminDepartmentsActivity"
            android:exported="false" >
          
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity

            android:name=".Admin_Classes.Admin_Activities.AdminHomeActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login_Classes.Login_Activities.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Welcome_Classes.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>